<h1>List</h1>

<md-list>
  <h3 md-subheader>Folder</h3>
  <md-list-item>
    <md-icon md-list-avatar class="folder">folder</md-icon>
    <h4 md-line>Documents</h4>
      <p md-line class="date">Jan 12, 2016</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-avatar class="folder">folder</md-icon>
    <h4 md-line>Photos</h4>
      <p md-line class="date">Jan 1, 2016</p>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Item</h3>
  <md-list-item>
    <img md-list-avatar src="app/img/quentin.jpg">
    <h3 md-line>Quentin</h3>
    <p md-line>
      <span>Angular material</span>
      <span class="demo-2"> -- it seems great </span>
    </p>
  </md-list-item>
</md-list>